   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

body{
    min-height: 100vh;
}

header{
    width: 100%;
      position: sticky;
      top: 0;
      background: #56b2d4;
      color: rgb(255, 255, 255);
      padding: 1rem 2rem;
      z-index: 1000;
}

   main {
      min-height: 100vh;
      padding: 2rem;
      background: #f0f0f0;
    }